.father {
    width: 350px;
    height: 200px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    background-color: lightgray;
}

.child {
    width: 100px;
    height: 50px;
}

.red {
    background-color: red;
    order: 3;
}

.yellow {
    background-color: yellow;
    align-self: flex-start;
    order: 1;

}

.blue {
    background-color: blue;
    align-self: flex-end;
    order: 5;
}

.purple {
    background-color: purple;
    order: 4;
}

.orange {
    background-color: orange;
    order: 2;
}

.father1 {
    width: 350px;
    height: 200px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    background-color: lightgray;
}

.yellow1 {
    background-color: yellow;
    align-self: center;
}

.blue1 {
    background-color: blue;
    align-self: center;
}

.father2 {
    width: 550px;
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    background-color: lightgray;
}